<div class="bg-white flex justify-between items-center px-2" data-controller="menu">
  <%= link_to products_path do %>
    <h1 class="text-3xl font-bold text-teal-500 py-2"><%= t('app_name') %></h1>
  <% end %>
  <button class="sm:hidden" data-action="click->menu#toggle"><%= image_tag 'icons/menu.svg', width: 35, height: 35 %></button>
  <div class="hidden sm:block">
    <%= render partial: 'shared/menu_items' %>
  </div>
  <!-- Mobile menu -->
  <div data-menu-target="items" class="sm:hidden gap-4 absolute bg-white top-0 right-0 shadow z-10 h-full flex flex-col min-w-[35%] overflow-y-scroll ease-in-out duration-500 p-3 translate-x-full">
    <button class="mb-4" data-action="click->menu#toggle"><%= image_tag 'icons/close.svg', width: 30, height: 30 %></button>
    <%= render partial: 'shared/menu_items' %>
  </div>
</div>